<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Memory game v.10</title>
</head>
<body>
<header>
    <nav class="navbar mb-3">
            {% if cards_number %}
            <a class="nav-item" href="/">Change settings</a>
        <div class="row justify-content-center">Time left:
                <div id="timer" class="mx-2">{{difficulty}}</div> seconds</div>
        <div></div>
            {% else %}
            <a class="nav-item" href="/">Memory game</a>
            {% endif %}
    </nav>
</header>
{% block content %} {% endblock %}
</body>
</html>